<div style="text-align:Center">
<p> <img width="200" alt="Campus Logo" src="./assets/Logo.jpg"> 
</p> <h1>Second Campus Learning Solutions </h1>
 </div>

 <div style="text-align:Center">
 <p> <img width="200" alt="Campus Logo" src="./assets/1.jpg"> 
 </p> <h2>Kavya Got Placed @CapIOT</h2>
 </div>

 <div style="text-align:Center">
 <p> <img width="200" alt="Campus Logo" src="./assets/3.jpg"> 
 </p> <h2>SumaPreethi Got Placed @Tanla</h2>
 </div>

 <div style="text-align:Center">
 <p> <img width="200" alt="Campus Logo" src="./assets/4.jpg"> 
 </p> <h2>Kiranmaye Got Placed @Techsophy</h2>
 </div>

 <div style="text-align:Center">
 <p> <img width="200" alt="Campus Logo" src="./assets/5.jpg"> 
 </p> <h2>Pravallika Got Placed @VasistaGroup</h2>
 </div>